.spinnerContainer {
    margin-top:-50px;
    margin-left:-70px;
    padding: 25px 20px;
    top: 50%;
    right: auto;
    left: 50%;
    width: 140px;
    position: fixed;
    background-color: white;
    border: 1px solid #000;
    z-index: 99;
}