.jumbotron {
    margin: 0 auto;
    background-color: beige;
    max-width: 800px;
}

.form-group {
    margin: 0 auto;
    display: grid;
    max-width: 70%;
}

input {
    margin: 0 auto;
    width: 224px;
}