footer {
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    position: absolute;
    text-align: center;
    background-color: #04091e;
}

footer li {
    margin-top: 6px;
    padding: 0px 20px 0 20px;
    display: inline-block;
    font-weight: bold;
    color: #FFF;
}

footer li a img {
    width: 40px;
}
